html {
  background-color: #eeeeee;
}

.item {
  background-color: #eeeeee;
  box-shadow: 
    -12px -9px 20px 8px rgba(255, 255, 255, 1),
    12px 9px 18px 8px rgba(0, 0, 0, 0.12);
  /* transition: transform 2000ms; */
}

/* .item:hover {
  transform: rotate(45deg);
  transition: transform 2000ms;
} */

.item_dark {
  background-color: #363636;
  box-shadow: 
    -12px -9px 20px 5px rgba(62, 62, 62),
    12px 9px 18px 5px rgba(0, 0, 0, 0.12);
}

.box {
  margin: 20px;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.box:hover {
  animation: grow-up 1s infinite ease-in-out alternate;
}

@keyframes grow-up {
  from {
    width: 200px;
  }
  to {
    width: 400px;
  }
}

.circle {
  margin: 20px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.circle_sm {
  margin: 50px;
  margin-top: 65px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 
    -9px -9px 20px 8px rgba(255, 255, 255, 1),
    9px 9px 18px 8px rgba(0, 0, 0, 0.1);
}

.other {
  justify-content: center;
  align-items: center;
  margin: 40px;
  height: 400px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 
    inset -9px -9px 20px 8px rgba(255, 255, 255, 1),
    inset 9px 9px 18px 8px rgba(0, 0, 0, 0.1);
}

.button {
  height: 100px;
  width: 100px;
  border: none;
  outline: none;
  margin-left: 500px;
  border-radius: 50px;
}

.icon {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 15px #000000;
}

.icon_dark {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px #ffffff;
}

.item:active {
  box-shadow: 
    inset -9px -9px 20px 8px rgba(255, 255, 255, 1),
    inset 9px 9px 18px 8px rgba(0, 0, 0, 0.1);
}

.item_dark:active {
  box-shadow: 
    inset -9px -9px 20px 0 rgba(62, 62, 62),
    inset 9px 9px 18px 0 rgba(0, 0, 0, 0.12);
}

.tohover {
  margin: 80px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #eeeeee;
  animation: pulse 1000ms ease-out infinite alternate;
  /* transition: all 800ms ease-in-out; */
  /* transition: border-radius 1000ms ease-in-out; */
}

@keyframes pulse {
  from {
    margin: 80px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }
  to {
    border-radius: 30px;
    height: 200px;
    width: 200px;
    margin: 40px;
    box-shadow: 
    -12px -9px 20px 8px rgba(255, 255, 255, 1),
    12px 9px 18px 8px rgba(0, 0, 0, 0.12);
  }
}

.tohover_dark {
  background-color: #363636;
  transition: box-shadow 200ms ease-in-out;
}

.tohover_dark:hover {
  background-color: #363636;
  box-shadow: 
    -12px -9px 20px 5px rgba(62, 62, 62),
    12px 9px 18px 5px rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms;
}

.tohover:active {
  box-shadow: 
    inset -9px -9px 20px 8px rgba(255, 255, 255, 1),
    inset 9px 9px 18px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.tohover_dark:active {
  box-shadow: 
    -12px -9px 20px 5px rgba(62, 62, 62),
    12px 9px 18px 5px rgba(0, 0, 0, 0.12);
  transition: box-shadow 200ms;
}

.circle_expand {
  margin: 50px;
  margin-top:50px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 
    -9px -9px 20px 8px rgba(255, 255, 255, 1),
    9px 9px 18px 8px rgba(0, 0, 0, 0.1);
  transition: all 1000ms;
}

.circle_expand:hover {
  height: 300px;
  transition: all 1000ms;
}
